.content {
    position: absolute;
    top: var(--header-height);
    left: var(--sidebar-width);
    display: flex;
    flex-direction: column;
    width: calc(100vw - var(--sidebar-width));
    min-height: 100vh;
    transition: 0.4s;
    z-index: -1;
}
.content.shrunk{
    left: var(--sidebar-open-width);
    width: calc(100vw - var(--sidebar-open-width))
}
.content-header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: var(--header-height);
    height: fit-content;
    font-size: 3em;
    color: var(--white);
}